<div
  class="{{class}}
  flex flex-col items-start justify-start gap-[20px] leading-[140%]"
>
  <img
    class="relative {{#if small}}h-[100px] w-[100px]{{else}}h-20 w-20{{/if}} lg:h-[100px] lg:w-[100px]"
    alt=""
    src={{image}}
  />
  <span>{{{text}}}</span>
</div>