<div
  class="flex flex-col items-start justify-start text-xxs md:hidden md:flex-row lg:text-xs"
>
  <div class="air-conditioning-tabs__container--mobile flex flex-col items-start justify-start">
    <button
      class="air-conditioning-tabs__button--mobile box-border flex w-[360px] flex-row items-start justify-start gap-[20px] rounded-b-none rounded-t bg-light-gray px-[30px] py-2.5"
      id="air-conditioning-tab1"
    >
      <span class="relative leading-[140%]">Шаг 1</span>
    </button>
    <div class="relative h-px self-stretch bg-dark-gray"></div>
    <div
      class="air-conditioning-tabs__item--mobile box-border flex w-[360px] flex-col items-start justify-start gap-[20px] bg-light-gray px-[30px] py-5 text-base shadow-base lg:text-xl"
      id="mobile-air-conditioning-content1"
    >
      <div class="relative flex-1 self-stretch font-medium leading-[130%]">
        <h3>Поставка оборудования</h3>
      </div>
      <div class="relative self-stretch text-xxs leading-[140%] lg:text-xs">
        <p>Процесс подбора оборудования начинается ещё на этапе переговоров
          о продаже. Именно в этот момент определяется тип и размер устройства,
          а также его расположение. Самостоятельно доставляем оборудование
          на объект заказчика и размещаем с помощью грузоподъёмного
          оборудования. Берём на себя все логистические вопросы. Предлагаем
          скидку в 20% при покупке оборудования у наших партнёров при расчёте
          стоимости работ по монтажу.</p>
      </div>
    </div>
  </div>
  <div class="air-conditioning-tabs__container--mobile flex flex-col items-start justify-start">
    <button
      class="air-conditioning-tabs__button--mobile box-border flex w-[360px] flex-row items-start justify-start gap-[20px] rounded-b-none rounded-t bg-dark-gray px-[30px] py-2.5"
      id="air-conditioning-tab2"
    >
      <span class="relative leading-[140%]">Шаг 2</span>
    </button>
    <div class="relative h-px self-stretch bg-dark-gray"></div>
    <div
      class="air-conditioning-tabs__item--mobile box-border hidden w-[360px] flex-col items-start justify-start gap-[20px] bg-light-gray px-[30px] py-5 text-base shadow-base lg:text-xl"
      id="mobile-air-conditioning-content2"
    >
      <div class="relative flex-1 self-stretch font-medium leading-[130%]">
        Заголовок2
      </div>
      <div class="relative self-stretch text-xxs leading-[140%] lg:text-xs">
        <p>Процесс подбора оборудования начинается ещё на этапе переговоров
          о продаже. Именно в этот момент определяется тип и размер устройства,
          а также его расположение. Самостоятельно доставляем оборудование
          на объект заказчика и размещаем с помощью грузоподъёмного
          оборудования. Берём на себя все логистические вопросы. Предлагаем
          скидку в 20% при покупке оборудования у наших партнёров при расчёте
          стоимости работ по монтажу.</p>
      </div>
    </div>
  </div>
  <div class="air-conditioning-tabs__container--mobile flex flex-col items-start justify-start">
    <button
      class="air-conditioning-tabs__button--mobile box-border flex w-[360px] flex-row items-start justify-start gap-[20px] rounded-b-none rounded-t bg-dark-gray px-[30px] py-2.5"
      id="air-conditioning-tab3"
    >
      <span class="relative leading-[140%]">Шаг 3</span>
    </button>
    <div class="relative h-px self-stretch bg-dark-gray"></div>
    <div
      class="air-conditioning-tabs__item--mobile box-border hidden w-[360px] flex-col items-start justify-start gap-[20px] bg-light-gray px-[30px] py-5 text-base shadow-base lg:text-xl"
      id="mobile-air-conditioning-content3"
    >
      <div class="relative flex-1 self-stretch font-medium leading-[130%]">
        Заголовок3
      </div>
      <div class="relative self-stretch text-xxs leading-[140%] lg:text-xs">
        <p>Процесс подбора оборудования начинается ещё на этапе переговоров
          о продаже. Именно в этот момент определяется тип и размер устройства,
          а также его расположение. Самостоятельно доставляем оборудование
          на объект заказчика и размещаем с помощью грузоподъёмного
          оборудования. Берём на себя все логистические вопросы. Предлагаем
          скидку в 20% при покупке оборудования у наших партнёров при расчёте
          стоимости работ по монтажу.</p>
      </div>
    </div>
  </div>
  <div class="air-conditioning-tabs__container--mobile flex flex-col items-start justify-start">
    <button
      class="air-conditioning-tabs__button--mobile box-border flex w-[360px] flex-row items-start justify-start gap-[20px] rounded-b-none rounded-t bg-dark-gray px-[30px] py-2.5"
      id="air-conditioning-tab4"
    >
      <span class="relative leading-[140%]">Шаг 4</span>
    </button>
    <div class="relative h-px self-stretch bg-dark-gray"></div>
    <div
      class="air-conditioning-tabs__item--mobile box-border hidden w-[360px] flex-col items-start justify-start gap-[20px] bg-light-gray px-[30px] py-5 text-base shadow-base lg:text-xl"
      id="mobile-air-conditioning-content4"
    >
      <div class="relative flex-1 self-stretch font-medium leading-[130%]">
        Заголовок4
      </div>
      <div class="relative self-stretch text-xxs leading-[140%] lg:text-xs">
        <p>Процесс подбора оборудования начинается ещё на этапе переговоров
          о продаже. Именно в этот момент определяется тип и размер устройства,
          а также его расположение. Самостоятельно доставляем оборудование
          на объект заказчика и размещаем с помощью грузоподъёмного
          оборудования. Берём на себя все логистические вопросы. Предлагаем
          скидку в 20% при покупке оборудования у наших партнёров при расчёте
          стоимости работ по монтажу.</p>
      </div>
    </div>
  </div>
  <div class="air-conditioning-tabs__container--mobile flex flex-col items-start justify-start">
    <button
      class="air-conditioning-tabs__button--mobile box-border flex w-[360px] flex-row items-start justify-start gap-[20px] rounded-b-none rounded-t bg-dark-gray px-[30px] py-2.5"
      id="air-conditioning-tab5"
    >
      <span class="relative leading-[140%]">Шаг 5</span>
    </button>
    <div class="relative h-px self-stretch bg-dark-gray"></div>
    <div
      class="air-conditioning-tabs__item--mobile box-border hidden w-[360px] flex-col items-start justify-start gap-[20px] bg-light-gray px-[30px] py-5 text-base shadow-base lg:text-xl"
      id="mobile-air-conditioning-content5"
    >
      <div class="relative flex-1 self-stretch font-medium leading-[130%]">
        Заголовок5
      </div>
      <div class="relative self-stretch text-xxs leading-[140%] lg:text-xs">
        <p>Процесс подбора оборудования начинается ещё на этапе переговоров
          о продаже. Именно в этот момент определяется тип и размер устройства,
          а также его расположение. Самостоятельно доставляем оборудование
          на объект заказчика и размещаем с помощью грузоподъёмного
          оборудования. Берём на себя все логистические вопросы. Предлагаем
          скидку в 20% при покупке оборудования у наших партнёров при расчёте
          стоимости работ по монтажу.</p>
      </div>
    </div>
  </div>
</div>