<div
  class="flex w-[298px] flex-col items-start justify-center gap-[20px] text-sm md:w-[586px] md:flex-row md:justify-start lg:w-[810px] lg:gap-[30px] lg:text-lg"
>
  <div
    class="h-20 w-20 rounded bg-dark-gray p-[12px] md:p-[5px] lg:min-h-[100px] lg:min-w-[100px] lg:p-[15px]"
  >
    <img class="relative h-full w-full overflow-hidden" alt="" src={{image}} />
  </div>
  <div
    class="flex flex-1 flex-col items-start justify-center self-stretch md:justify-start"
  >
    <div class="relative self-stretch leading-[140%]">
      {{title}}
    </div>
    <div
      class="relative self-stretch text-xxs leading-[140%] text-dark-gray lg:text-xs"
    >
      <p>
        {{{description}}}
      </p>
    </div>
  </div>
</div>