<div
  class="mx-[-60px] flex flex-col items-center justify-start bg-light-bg text-base md:hidden lg:text-xl"
>
  <div
    class="cart-tabs__container--mobile flex flex-col justify-start self-stretch rounded bg-light-bg"
  >
    <div class="flex px-[60px] py-[30px]">
      <button
        class="cart-tabs__button--mobile relative font-medium leading-[130%] text-black"
        id="mobile-cart-tab1"
      >
        Контактные данные
      </button>
    </div>
    <div class="relative h-px self-stretch bg-border-color"></div>
    <div
      class="cart-tabs__item--mobile flex flex-col items-start justify-start gap-[10px] self-stretch px-[60px] py-10 text-xxs lg:text-xs"
      id="mobile-cart-content1"
    >
      <input
        class="flex w-full flex-1 flex-row items-center justify-start rounded bg-white px-[30px] py-5 leading-[140%] placeholder:opacity-[0.3]"
        placeholder="Ваше имя"
      />
      <input
        class="flex w-full flex-1 flex-row items-center justify-start rounded bg-white px-[30px] py-5 leading-[140%] placeholder:opacity-[0.3]"
        placeholder="Номер телефона"
      />
      <input
        class="flex w-full flex-1 flex-row items-center justify-start rounded bg-white px-[30px] py-5 leading-[140%] placeholder:opacity-[0.3]"
        placeholder="Эл. почта"
      />
    </div>
    <div class="relative h-px self-stretch bg-border-color"></div>
  </div>
  <div
    class="cart-tabs__container--mobile flex flex-col justify-start self-stretch rounded bg-light-bg"
  >
    <div class="flex px-[60px] py-[30px]">
      <button
        class="cart-tabs__button--mobile relative font-medium leading-[130%] text-light-gray"
        id="mobile-cart-tab2"
      >
        Способ получения
      </button>
    </div>
    <div class="relative h-px self-stretch bg-border-color"></div>
    <div
      class="cart-tabs__item--mobile hidden flex-col items-start justify-start gap-[10px] self-stretch px-[60px] py-10 text-xxs lg:text-xs"
      id="mobile-cart-content2"
    >
       <div class="w-full">
        {{#> dropdown text="Способ доставки"}}
          <button
            class="group py-[20px] flex w-full flex-col items-start justify-start gap-[20px] px-[30px]"
          >
            <div class="flex flex-row items-center justify-start self-stretch">
              <div class="relative flex-1 font-medium leading-[120%]">
                <p>Самовывоз</p>
              </div>
            </div>
          </button>
          <div
            class="relative h-px w-full border-[0.5px] border-solid border-gray"
          ></div>
          <button
            class="group py-[20px] flex w-full flex-col items-start justify-start gap-[20px] px-[30px]"
          >
            <div class="flex flex-row items-center justify-start self-stretch">
              <div class="relative flex-1 font-medium leading-[120%]">
                <p>Доставка</p>
              </div>
            </div>
          </button>
        {{/dropdown}}
      </div>

      <input
        class="flex w-full flex-1 flex-row items-center justify-start rounded bg-white px-[30px] py-5 leading-[140%] placeholder:opacity-[0.3]"
        placeholder="Адрес доставки"
      />

    </div>
    <div class="relative h-px self-stretch bg-border-color"></div>
  </div>
  <div
    class="cart-tabs__container--mobile flex flex-col justify-start self-stretch rounded bg-light-bg"
  >
    <div class="flex px-[60px] py-[30px]">
      <button
        class="cart-tabs__button--mobile relative font-medium leading-[130%] text-light-gray"
        id="mobile-cart-tab3"
      >
        Оплата
      </button>
    </div>
    <div class="relative h-px self-stretch bg-border-color"></div>
    <div
      class="cart-tabs__item--mobile hidden flex-col items-start justify-start gap-[10px] self-stretch px-[60px] py-10 text-xxs lg:text-xs"
      id="mobile-cart-content3"
    >
      <div class="w-full">
        {{#> dropdown text="Способ оплаты"}}
          <button
            class="group py-[20px] flex w-full flex-col items-start justify-start gap-[20px] px-[30px]"
          >
            <div class="flex flex-row items-center justify-start self-stretch">
              <div class="relative flex-1 font-medium leading-[120%]">
                <p>По счету</p>
              </div>
            </div>
          </button>
          <div
            class="relative h-px w-full border-[0.5px] border-solid border-gray"
          ></div>
          <button
            class="group py-[20px] flex w-full flex-col items-start justify-start gap-[20px] px-[30px]"
          >
            <div class="flex flex-row items-center justify-start self-stretch">
              <div class="relative flex-1 font-medium leading-[120%]">
                <p>По карте</p>
              </div>
            </div>
          </button>
          <div
            class="relative h-px w-full border-[0.5px] border-solid border-gray"
          ></div>
          <button
            class="group py-[20px] flex w-full flex-col items-start justify-start gap-[20px] px-[30px]"
          >
            <div class="flex flex-row items-center justify-start self-stretch">
              <div class="relative flex-1 font-medium leading-[120%]">
                <p>Наличными</p>
              </div>
            </div>
          </button>
        {{/dropdown}}
      </div>
      <div
        class="relative flex w-full shrink-0 leading-[140%] text-black"
      >
        Оплата наличными при получении по средставам доставки или при самовывозе
      </div>
    </div>
    <div class="relative h-px self-stretch bg-border-color"></div>
  </div>
  <div
    class="cart-tabs__container--mobile flex flex-col justify-start self-stretch rounded bg-light-bg"
  >
    <div class="flex px-[60px] py-[30px]">
      <button
        class="cart-tabs__button--mobile relative font-medium leading-[130%] text-light-gray"
        id="mobile-cart-tab4"
      >
        Комментарий
      </button>
    </div>
    <div class="relative h-px self-stretch bg-border-color"></div>
    <div
      class="cart-tabs__item--mobile hidden flex-col items-start justify-start gap-[10px] self-stretch px-[60px] py-10 text-xxs lg:text-xs"
      id="mobile-cart-content4"
    >
      <input
        class="flex w-full flex-1 flex-row items-center justify-start rounded bg-white px-[30px] py-5 leading-[140%] placeholder:opacity-[0.3]"
        placeholder="Ваш комментарий"
      />
    </div>
  </div>
</div>

