<div
  class="fixed top-0 z-50 hidden h-[stretch] w-full overflow-y-auto overscroll-contain bg-light-bg md:bg-black md:bg-opacity-50"
  id="catalog-menu"
>
  <div
    class="flex items-start justify-start max-md:mx-auto max-md:max-w-[360px] max-md:py-[30px] md:h-full"
  >
    <div
      class="flex w-full flex-col items-center justify-start gap-[30px] self-stretch bg-light-bg py-[30px] md:w-[330px] md:overflow-y-scroll"
    >
      <div class="relative w-full px-[30px] text-lg leading-[100%]">
        <p>Каталог товаров</p>
      </div>
      <div
        class="relative h-px w-full border-[0.5px] border-solid border-gray"
      ></div>
      <div
        class="group flex w-full flex-col items-start justify-start gap-[20px] md:px-[30px]"
      >
        <button class="flex flex-row items-center justify-start self-stretch">
          <div class="relative flex-1 font-medium leading-[120%]">
            <p>Центральные вентиляционные установки</p>
          </div>
          <img class="relative h-3 w-3" alt="" src="/images/arrow-down.svg" />
        </button>
      </div>
      <div
        class="relative h-px w-full border-[0.5px] border-solid border-gray"
      ></div>
      <div
        class="group flex w-full flex-col items-start justify-start gap-[20px] md:px-[30px]"
      >
        <button class="flex flex-row items-center justify-start self-stretch">
          <div class="relative flex-1 font-medium leading-[120%]">
            <p>Компактные вентиляционные установки</p>
          </div>
          <img class="relative h-3 w-3" alt="" src="/images/arrow-down.svg" />
        </button>
      </div>
      <div
        class="relative h-px w-full border-[0.5px] border-solid border-gray"
      ></div>
      <div
        class="group flex w-full flex-col items-start justify-start gap-[20px] md:px-[30px]"
      >
        <button class="flex flex-row items-center justify-start self-stretch">
          <div class="relative flex-1 font-medium leading-[120%]">
            <p>Промышленные вентиляторы</p>
          </div>
          <img class="relative h-3 w-3" alt="" src="/images/arrow-down.svg" />
        </button>
      </div>
      <div
        class="relative h-px w-full border-[0.5px] border-solid border-gray"
      ></div>
      <div
        class="group flex w-full flex-col items-start justify-start gap-[20px] md:px-[30px]"
      >
        <button class="flex flex-row items-center justify-start self-stretch">
          <div class="relative flex-1 font-medium leading-[120%]">
            <p>Прямоугольное канальное оборудование</p>
          </div>
          <img class="relative h-3 w-3" alt="" src="/images/arrow-down.svg" />
        </button>
      </div>
      <div
        class="relative h-px w-full border-[0.5px] border-solid border-gray"
      ></div>
      <div
        class="group flex w-full flex-col items-start justify-start gap-[20px] md:px-[30px]"
      >
        <button class="flex flex-row items-center justify-start self-stretch">
          <div class="relative flex-1 font-medium leading-[120%]">
            <p>Круглое канальное оборудование</p>
          </div>
          <img class="relative h-3 w-3" alt="" src="/images/arrow-down.svg" />
        </button>
      </div>
      <div
        class="relative h-px w-full border-[0.5px] border-solid border-gray"
      ></div>
      <div
        class="group flex w-full flex-col items-start justify-start gap-[20px] md:px-[30px]"
      >
        <button class="flex flex-row items-center justify-start self-stretch">
          <div class="relative flex-1 font-medium leading-[120%]">
            <p>Противопожарная вентиляция</p>
          </div>
          <img class="relative h-3 w-3" alt="" src="/images/arrow-down.svg" />
        </button>
      </div>
      <div
        class="relative h-px w-full border-[0.5px] border-solid border-gray"
      ></div>
      <div
        class="group flex w-full flex-col items-start justify-start gap-[20px] md:px-[30px]"
      >
        <button class="flex flex-row items-center justify-start self-stretch">
          <div class="relative flex-1 font-medium leading-[120%]">
            <p>Системы холодоснабжения</p>
          </div>
          <img class="relative h-3 w-3" alt="" src="/images/arrow-down.svg" />
        </button>
      </div>
      <div
        class="relative h-px w-full border-[0.5px] border-solid border-gray"
      ></div>
      <div
        class="group flex w-full flex-col items-start justify-start gap-[20px] md:px-[30px]"
      >
        <button class="flex flex-row items-center justify-start self-stretch">
          <div class="relative flex-1 font-medium leading-[120%]">
            <p>Автоматика</p>
          </div>
          <img class="relative h-3 w-3" alt="" src="/images/arrow-down.svg" />
        </button>
      </div>
    </div>
    <button
      class="absolute top-[20px] h-[40px] w-[40px] bg-black p-[11px] max-md:right-[20px] md:left-[330px] md:top-0"
      id="close-menu"
    >
      <img class="h-full w-full" src="/images/icon-cross.svg" alt="" />
    </button>
  </div>
</div>