<div class="relative w-full h-full">
  <input
    class="absolute m-0 h-full w-full top-0 right-0 bottom-0 left-0 rounded box-border border-[1px] border-solid border-green appearance-none checked:bg-icon-checkbox-active checked:border-0 checked:bg-center"
    type="checkbox"
  />
</div>