<section
  class="relative mx-auto mb-[80px] flex max-w-[360px] flex-col items-start justify-start self-stretch text-white md:mb-[100px] md:max-w-[1024px] lg:mb-[120px] lg:max-w-[1410px]"
>
  <div
    class="flex flex-col items-end justify-between gap-[30px] self-stretch rounded-b-none rounded-t bg-green-gradient p-10 md:flex-row lg:p-[60px]"
  >
    <div class="flex w-full flex-col items-start justify-start gap-[20px]">
      <div
        class="relative flex w-full break-words text-xxl font-medium leading-[110%] md:text-3xl lg:text-5xl"
      >
        <h2>
          {{#if title}}{{{title}}}{{else}}Получить консультацию{{/if}}
        </h2>
      </div>
      <div class="relative flex w-full text-sm leading-[140%] lg:text-lg">
        <p class="flex">
          {{#if description}}{{description}}{{else}}Если у вас возникли
            вопросы или нужна консультация, мы с радостью поможем. Оставьте
            заявку и наш специалист вам перезвонит.{{/if}}
        </p>
      </div>
    </div>
    <form
      class="flex h-full w-full flex-col items-start justify-start gap-[10px] text-black md:max-w-[288px] lg:min-w-[390px]"
    >
      <input
        class="flex flex-row items-center justify-start self-stretch rounded bg-light-bg px-[30px] py-4 text-xxs leading-[140%] placeholder-black placeholder-opacity-30 lg:py-5 lg:text-xs"
        placeholder="Номер телефона"
      />
      <button class="button--filled-green self-stretch">
        <span class=""> Отправить заявку </span>
      </button>
    </form>
  </div>
  <div
    class="flex flex-row items-center justify-start gap-[10px] self-stretch rounded-b rounded-t-none bg-black px-10 py-5 text-4xs lg:px-[60px] lg:py-[30px] lg:text-3xs"
  >
    <div class="relative h-5 w-5">
      <input
        class="absolute bottom-0 left-0 right-0 top-0 m-0 box-border h-full w-full appearance-none rounded border-[1px] border-solid border-green checked:border-0 checked:bg-icon-checkbox-active"
        type="checkbox"
      />
    </div>

    <div class="relative flex-1 font-medium leading-[120%]">
      <p>Даю согласие на обработку моих персональных данных</p>
    </div>
  </div>
</section>