<section
  class="mx-auto mb-[80px] flex max-w-[360px] md:mb-[100px] md:max-w-[1024px] lg:mb-[120px] lg:max-w-[1410px]"
>
  <div class="hidden h-[570px] w-[1410px] lg:flex">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="1410"
      height="570"
      viewBox="0 0 1410 570"
      fill="none"
    >
      <path
        d="M0 4.00001C0 1.79087 1.79086 0 4 0H1406C1408.21 0 1410 1.79086 1410 4V565.881C1410 568.136 1408.14 569.945 1405.88 569.88L3.88293 528.847C1.72029 528.784 0 527.012 0 524.849V4.00001Z"
        fill="url(#pattern01)"
      />
      <defs>
        <pattern
          id="pattern01"
          patternContentUnits="objectBoundingBox"
          width="1"
          height="1"
        >
          <use
            xlink:href="#image0_1705_175401"
            transform="matrix(0.000244141 0 0 0.000603927 0 -0.324662)"
          />
        </pattern>
        <image
          id="image0_1705_175401"
          width="4096"
          height="2731"
          xlink:href={{image}}
        />
      </defs>
    </svg>
  </div>
  <div class="hidden h-[420px] w-[1024px] md:flex lg:hidden">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="1024"
      height="420"
      viewBox="0 0 1024 420"
      fill="none"
    >
      <path
        d="M0 4.00001C0 1.79087 1.79086 0 4 0H1020C1022.21 0 1024 1.79086 1024 4V415.879C1024 418.135 1022.14 419.945 1019.88 419.878L3.88129 389.708C1.71933 389.644 0 387.873 0 385.71V4.00001Z"
        fill="url(#pattern02)"
      />
      <defs>
        <pattern
          id="pattern02"
          patternContentUnits="objectBoundingBox"
          width="1"
          height="1"
        >
          <use
            xlink:href="#image0_1756_162102"
            transform="matrix(0.000244141 0 0 0.000595238 0 -0.312798)"
          />
        </pattern>
        <image
          id="image0_1756_162102"
          width="4096"
          height="2731"
          xlink:href={{image}}
        />
      </defs>
    </svg>
  </div>
  <div class="h-[420px] w-[360px] md:hidden">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="360"
      height="420"
      viewBox="0 0 360 420"
      fill="none"
    >
      <path
        d="M0 4.00001C0 1.79087 1.79086 0 4 0H356C358.209 0 360 1.79086 360 4V415.648C360 417.99 357.997 419.831 355.663 419.634L3.66334 389.902C1.59208 389.727 0 387.995 0 385.917V4.00001Z"
        fill="url(#pattern03)"
      />
      <defs>
        <pattern
          id="pattern03"
          patternContentUnits="objectBoundingBox"
          width="1"
          height="1"
        >
          <use
            xlink:href="#image0_1756_163533"
            transform="matrix(0.000427194 0 0 0.000366166 -0.374893 0)"
          />
        </pattern>
        <image
          id="image0_1756_163533"
          width="4096"
          height="2731"
          xlink:href={{small-image}}
        />
      </defs>
    </svg>
  </div>
</section>