<div
  class="group relative h-[240px] w-[298px] shrink-0 overflow-hidden rounded bg-white shadow-base md:h-[260px] md:w-[328px] lg:h-[300px] lg:w-[330px]"
>
  <img
    class="absolute bottom-0 top-[calc(100%_-_190px)] h-full w-full max-w-full object-cover duration-300 group-hover:top-0 group-hover:bg-light-gray group-hover:opacity-[0.15]"
    alt=""
    src="/images/66.svg"
  />
  <img
    class="absolute bottom-[-10px] h-[200px] w-full max-w-full object-contain mix-blend-multiply duration-300 group-hover:scale-110 md:bottom-0"
    alt=""
    src={{image}}
  />

  <div
    class="absolute left-0 right-0 top-0 box-border flex w-full flex-col items-start justify-start gap-[20px] p-10 lg:p-[60px]"
  >
    <h3 class="relative self-stretch font-medium leading-[100%]">
      {{title}}
    </h3>
    <div
      class="relative hidden self-stretch bg-green-gradient bg-clip-text text-xs leading-[140%] text-transparent group-hover:block"
    >
      <a href="#">Рассчет цены</a>
    </div>
  </div>
</div>