<div class="dropdown__container w-full group relative flex flex-col">
  <button
    class="dropdown__button box-border flex w-full flex-row items-center justify-start gap-[10px] rounded bg-light-gray px-[30px] py-[16px] lg:py-5"
  >
    <span class="relative flex-1 leading-[140%]">{{text}}</span>
    <img
      class="relative h-[18px] w-[18px]"
      alt=""
      src="/images/398g8xy4u7mg38s7w77c7j258295jdy.svg"
    />
  </button>
  <div
    class="absolute top-[calc(100%_+_10px)] w-full z-[100] hidden flex-col rounded bg-white text-xxs group-[.open]:flex lg:text-xs shadow-base"
  >
  {{#if @partial-block}}
    {{> @partial-block }}
  {{/if}}
  </div>
</div>