<div
  class="flex w-full flex-col items-start justify-start gap-[10px] self-stretch rounded bg-light-bg p-[30px] text-xxs lg:p-[40px] lg:text-xs"
>
  <div class="relative h-10 w-10">
    <img class="h-full w-full" alt="" src="/images/Frame-432.svg" />
  </div>
  <span class="relative text-ellipsis leading-[140%]">
    <p>{{text}}</p>
  </span>
</div>