<section class="relative bg-light-bg">
  <div
    class="mx-auto flex max-w-[360px] flex-col items-start justify-start gap-[30px] py-[80px] md:max-w-[1024px] md:py-[100px] lg:max-w-[1410px] lg:gap-[40px] lg:py-[120px]"
  >
    <div
      class="flex flex-row items-end justify-start gap-[30px] self-stretch lg:gap-[40px]"
    >
      <div
        class="relative flex-1 gap-[20px] self-stretch font-medium leading-[110%]"
      >
        <h2>
          Часто задаваемые вопросы
        </h2>
      </div>
    </div>
    <div
      class="flex flex-col items-start justify-start gap-[30px] self-stretch text-xxs md:flex-row lg:text-xs"
    >
      <div
        class="flex flex-col items-start justify-start gap-[10px] self-stretch rounded md:w-[753px] lg:w-[1050px]"
      >
        <div
          class="faq__container group flex flex-col items-start justify-start gap-[20px] self-stretch rounded-lg bg-white px-10 py-[30px] shadow-base"
        >
          <button
            class="faq__button flex flex-row items-start justify-between gap-[20px] self-stretch"
          >
            <div class="relative flex-1 font-medium leading-[130%]">
              <p>Есть ли у вас сертификаты на продукцию?</p>
            </div>
            <div
              class="relative h-7 w-3.5 bg-green-plus bg-cover bg-no-repeat group-[.open]:bg-green-minus"
            ></div>
          </button>
          <div
            class="relative hidden flex-col self-stretch text-xxs leading-[140%] text-dark-gray group-[.open]:flex lg:text-xs"
          >
            <p class="mb-[10px]">
              В нашей компании имеется свой мини-автопарк, в него входит
              грузовой автомобиль Hyundai, объём которого 26 кубов,
              также мобильный автомобиль лада ларгус с объёмом 3 куба, данные
              авто позволят доставить заказ небольшого количества до нужного
              вам места. Стоимость доставки рассчитываются персонально,
              в зависимости от характера транспортировки, срочности
              и расстояния.
            </p>
            <p>
              Для постоянных клиентов у нас разрабатывается специальная система
              скидок, а также существует возможность организовать бесплатную
              доставку, исходя от стоимости заказа и расстояния доставки. Кроме
              того, мы можем доставить груз до любой транспортной компании
              или организовать доставку с помощью транспортной компании.
            </p>
          </div>
        </div>
        <div
          class="faq__container group flex flex-col items-start justify-start gap-[20px] self-stretch rounded-lg bg-white px-10 py-[30px] shadow-base"
        >
          <button
            class="faq__button flex flex-row items-start justify-between gap-[20px] self-stretch"
          >
            <div class="relative flex-1 font-medium leading-[130%]">
              <p>Вы выполняете только крупные заказы или можете произвести заказ
                с небольшим количеством изделий и воздуховодов?</p>
            </div>
            <div
              class="relative h-7 w-3.5 bg-green-plus bg-cover bg-no-repeat group-[.open]:bg-green-minus"
            ></div>
          </button>
          <div
            class="relative hidden flex-col self-stretch text-xxs leading-[140%] text-dark-gray group-[.open]:flex lg:text-xs"
          >
            <p class="mb-[10px]">
              В нашей компании имеется свой мини-автопарк, в него входит
              грузовой автомобиль Hyundai, объём которого 26 кубов,
              также мобильный автомобиль лада ларгус с объёмом 3 куба, данные
              авто позволят доставить заказ небольшого количества до нужного
              вам места. Стоимость доставки рассчитываются персонально,
              в зависимости от характера транспортировки, срочности
              и расстояния.
            </p>
            <p>
              Для постоянных клиентов у нас разрабатывается специальная система
              скидок, а также существует возможность организовать бесплатную
              доставку, исходя от стоимости заказа и расстояния доставки. Кроме
              того, мы можем доставить груз до любой транспортной компании
              или организовать доставку с помощью транспортной компании.
            </p>
          </div>
        </div>
        <div
          class="faq__container group flex flex-col items-start justify-start gap-[20px] self-stretch rounded-lg bg-white px-10 py-[30px] shadow-base"
        >
          <button
            class="faq__button flex flex-row items-start justify-between gap-[20px] self-stretch"
          >
            <div class="relative flex-1 font-medium leading-[130%]">
              <p>А где именно находится ваше производство?</p>
            </div>
            <div
              class="relative h-7 w-3.5 bg-green-plus bg-cover bg-no-repeat group-[.open]:bg-green-minus"
            ></div>
          </button>
          <div
            class="relative hidden flex-col self-stretch text-xxs leading-[140%] text-dark-gray group-[.open]:flex lg:text-xs"
          >
            <p class="mb-[10px]">
              В нашей компании имеется свой мини-автопарк, в него входит
              грузовой автомобиль Hyundai, объём которого 26 кубов,
              также мобильный автомобиль лада ларгус с объёмом 3 куба, данные
              авто позволят доставить заказ небольшого количества до нужного
              вам места. Стоимость доставки рассчитываются персонально,
              в зависимости от характера транспортировки, срочности
              и расстояния.
            </p>
            <p>
              Для постоянных клиентов у нас разрабатывается специальная система
              скидок, а также существует возможность организовать бесплатную
              доставку, исходя от стоимости заказа и расстояния доставки. Кроме
              того, мы можем доставить груз до любой транспортной компании
              или организовать доставку с помощью транспортной компании.
            </p>
          </div>
        </div>
        <div
          class="faq__container group flex flex-col items-start justify-start gap-[20px] self-stretch rounded-lg bg-white px-10 py-[30px] shadow-base"
        >
          <button
            class="faq__button flex flex-row items-start justify-between gap-[20px] self-stretch"
          >
            <div class="relative flex-1 font-medium leading-[130%]">
              <p>Есть ли у вас доставка?</p>
            </div>
            <div
              class="relative h-7 w-3.5 bg-green-plus bg-cover bg-no-repeat group-[.open]:bg-green-minus"
            ></div>
          </button>
          <div
            class="relative hidden flex-col self-stretch text-xxs leading-[140%] text-dark-gray group-[.open]:flex lg:text-xs"
          >
            <p class="mb-[10px]">
              В нашей компании имеется свой мини-автопарк, в него входит
              грузовой автомобиль Hyundai, объём которого 26 кубов,
              также мобильный автомобиль лада ларгус с объёмом 3 куба, данные
              авто позволят доставить заказ небольшого количества до нужного
              вам места. Стоимость доставки рассчитываются персонально,
              в зависимости от характера транспортировки, срочности
              и расстояния.
            </p>
            <p>
              Для постоянных клиентов у нас разрабатывается специальная система
              скидок, а также существует возможность организовать бесплатную
              доставку, исходя от стоимости заказа и расстояния доставки. Кроме
              того, мы можем доставить груз до любой транспортной компании
              или организовать доставку с помощью транспортной компании.
            </p>
          </div>
        </div>
        <div
          class="faq__container group flex flex-col items-start justify-start gap-[20px] self-stretch rounded-lg bg-white px-10 py-[30px] shadow-base"
        >
          <button
            class="faq__button flex flex-row items-start justify-between gap-[20px] self-stretch"
          >
            <div class="relative flex-1 font-medium leading-[130%]">
              <p>Из какого метала и какой толщины вы можете произвести
                воздуховоды и сетевые элементы?</p>
            </div>
            <div
              class="relative h-7 w-3.5 bg-green-plus bg-cover bg-no-repeat group-[.open]:bg-green-minus"
            ></div>
          </button>
          <div
            class="relative hidden flex-col self-stretch text-xxs leading-[140%] text-dark-gray group-[.open]:flex lg:text-xs"
          >
            <p class="mb-[10px]">
              В нашей компании имеется свой мини-автопарк, в него входит
              грузовой автомобиль Hyundai, объём которого 26 кубов,
              также мобильный автомобиль лада ларгус с объёмом 3 куба, данные
              авто позволят доставить заказ небольшого количества до нужного
              вам места. Стоимость доставки рассчитываются персонально,
              в зависимости от характера транспортировки, срочности
              и расстояния.
            </p>
            <p>
              Для постоянных клиентов у нас разрабатывается специальная система
              скидок, а также существует возможность организовать бесплатную
              доставку, исходя от стоимости заказа и расстояния доставки. Кроме
              того, мы можем доставить груз до любой транспортной компании
              или организовать доставку с помощью транспортной компании.
            </p>
          </div>
        </div>
      </div>
      {{> info-contact dark="1"}}
    </div>
  </div>
</section>