<div
  class="bg-color absolute left-[0px] top-[0px] box-border flex h-[1200px] flex-col items-center justify-start gap-[30px] overflow-hidden px-0 py-[30px]"
>
  <div class="text-7xl relative inline-block w-[270px] leading-[140%]">
    Фильтр по параметрам
  </div>
  <div class="bg-gainsboro relative h-px w-[330px]"></div>
  <div class="flex flex-col items-start justify-start gap-[20px]">
    <div class="flex w-[270px] flex-row items-center justify-start">
      <div class="relative flex-1 font-medium leading-[120%] opacity-[0.3]">
        Цена
      </div>
      <img class="relative h-3 w-3" alt="" src="/images/6.svg" />

      <img class="relative hidden h-3 w-3" alt="" src="/images/8.svg" />
    </div>
    <div class="flex w-[270px] flex-row items-start justify-start gap-[20px]">
      <div
        class="bg-border-color1 flex flex-1 flex-row items-center justify-start self-stretch rounded px-4 py-2"
      >
        <div class="relative leading-[140%] opacity-[0.3]">от 0</div>
      </div>
      <div
        class="bg-border-color1 flex flex-1 flex-row items-center justify-start self-stretch rounded px-4 py-2"
      >
        <div class="relative leading-[140%] opacity-[0.3]">до 81 800</div>
      </div>
    </div>
    <img class="relative h-5 w-[270px]" alt="" src="/images/18.svg" />
  </div>
  <div class="bg-gainsboro relative h-px w-[330px]"></div>
  <div class="flex flex-row items-start justify-start">
    <div
      class="relative inline-block w-[232px] shrink-0 font-medium leading-[120%] opacity-[0.3]"
    >
      Товары на акции
    </div>
    <div class="relative flex flex-col items-start justify-center gap-[10px]">
      <div
        class="bg-color1 relative z-[0] h-5 w-[38px] rounded-xl opacity-[0.2]"
      ></div>
      <div
        class="absolute left-[2px] top-[2px] z-[1] mx-[!important] my-0 h-4 w-4 rounded-[50%] [background:linear-gradient(270deg,_#0d574a,_#097b5d)]"
      ></div>
    </div>
  </div>
  <div class="bg-gainsboro relative h-px w-[330px]"></div>
  <div class="flex flex-col items-start justify-start gap-[20px]">
    <div class="flex w-[270px] flex-row items-center justify-start">
      <div class="relative flex-1 font-medium leading-[120%] opacity-[0.3]">
        Производитель
      </div>
      <img class="relative h-3 w-3" alt="" src="/images/6.svg" />

      <img class="relative hidden h-3 w-3" alt="" src="/images/8.svg" />
    </div>
    <div
      class="flex flex-col items-start justify-start gap-[10px] self-stretch"
    >
      <div
        class="flex flex-col items-start justify-start gap-[10px] self-stretch"
      >
        <div
          class="flex flex-row items-center justify-start gap-[10px] self-stretch"
        >
          <img class="relative h-4 w-4" alt="" src="/images/11.svg" />

          <div class="relative flex-1 font-medium leading-[120%]">
            Aeronik
          </div>
        </div>
        <div
          class="flex flex-row items-center justify-start gap-[10px] self-stretch"
        >
          <div class="relative h-4 w-4">
            <div
              class="absolute bottom-[0px] left-[0px] right-[0px] top-[0px] box-border h-full w-full rounded border-[1px] border-solid border-border-color"
            ></div>
          </div>
          <div class="relative flex-1 font-medium leading-[120%]">
            Electrolux
          </div>
        </div>
        <div
          class="flex flex-row items-center justify-start gap-[10px] self-stretch"
        >
          <div class="relative h-4 w-4">
            <div
              class="absolute bottom-[0px] left-[0px] right-[0px] top-[0px] box-border h-full w-full rounded border-[1px] border-solid border-border-color"
            ></div>
          </div>
          <div class="relative flex-1 font-medium leading-[120%]">
            Energolux
          </div>
        </div>
        <div
          class="flex flex-row items-center justify-start gap-[10px] self-stretch"
        >
          <div class="relative h-4 w-4">
            <div
              class="absolute bottom-[0px] left-[0px] right-[0px] top-[0px] box-border h-full w-full rounded border-[1px] border-solid border-border-color"
            ></div>
          </div>
          <div class="relative flex-1 font-medium leading-[120%]">
            Тепломаш
          </div>
        </div>
      </div>
      <div
        class="relative self-stretch font-medium leading-[120%] [-webkit-background-clip:text] [-webkit-text-fill-color:transparent] [background:linear-gradient(270deg,_#0c3c3e,_#097d5e)]"
      >
        Посмотреть все
      </div>
    </div>
  </div>
  <div class="bg-gainsboro relative h-px w-[330px]"></div>
  <div class="flex flex-col items-start justify-start gap-[20px]">
    <div class="flex w-[270px] flex-row items-center justify-start">
      <div class="relative flex-1 font-medium leading-[120%] opacity-[0.3]">
        Применение
      </div>
      <img class="relative h-3 w-3" alt="" src="/images/12.svg" />

      <img class="relative hidden h-3 w-3" alt="" src="/images/3.svg" />
    </div>
    <div
      class="flex flex-col items-start justify-start gap-[10px] self-stretch"
    >
      <div
        class="flex flex-col items-start justify-start gap-[10px] self-stretch"
      >
        <div
          class="flex flex-row items-center justify-start gap-[10px] self-stretch"
        >
          <img class="relative h-4 w-4" alt="" src="/images/11.svg" />

          <div class="relative flex-1 font-medium leading-[120%]">
            Для автомоек
          </div>
        </div>
        <div
          class="flex flex-row items-center justify-start gap-[10px] self-stretch"
        >
          <div class="relative h-4 w-4">
            <div
              class="absolute bottom-[0px] left-[0px] right-[0px] top-[0px] box-border h-full w-full rounded border-[1px] border-solid border-border-color"
            ></div>
          </div>
          <div class="relative flex-1 font-medium leading-[120%]">
            Для вентиляции
          </div>
        </div>
        <div
          class="flex flex-row items-center justify-start gap-[10px] self-stretch"
        >
          <div class="relative h-4 w-4">
            <div
              class="absolute bottom-[0px] left-[0px] right-[0px] top-[0px] box-border h-full w-full rounded border-[1px] border-solid border-border-color"
            ></div>
          </div>
          <div class="relative flex-1 font-medium leading-[120%]">
            Для офиса
          </div>
        </div>
        <div
          class="flex flex-row items-center justify-start gap-[10px] self-stretch"
        >
          <div class="relative h-4 w-4">
            <div
              class="absolute bottom-[0px] left-[0px] right-[0px] top-[0px] box-border h-full w-full rounded border-[1px] border-solid border-border-color"
            ></div>
          </div>
          <div class="relative flex-1 font-medium leading-[120%]">
            Над дверью
          </div>
        </div>
      </div>
      <div
        class="relative self-stretch font-medium leading-[120%] [-webkit-background-clip:text] [-webkit-text-fill-color:transparent] [background:linear-gradient(270deg,_#0c3c3e,_#097d5e)]"
      >
        Посмотреть все
      </div>
    </div>
  </div>
  <img class="relative h-px w-[330px]" alt="" src="/images/19.svg" />

  <div class="flex w-[270px] flex-row items-center justify-start">
    <div class="relative flex-1 font-medium leading-[120%] opacity-[0.3]">
      Материал
    </div>
    <img class="relative hidden h-3 w-3" alt="" src="/images/12.svg" />

    <img class="relative h-3 w-3" alt="" src="/images/3.svg" />
  </div>
  <img class="relative h-px w-[330px]" alt="" src="/images/19.svg" />

  <div class="flex w-[270px] flex-row items-center justify-start">
    <div class="relative flex-1 font-medium leading-[120%] opacity-[0.3]">
      Толщина
    </div>
    <img class="relative hidden h-3 w-3" alt="" src="/images/12.svg" />

    <img class="relative h-3 w-3" alt="" src="/images/3.svg" />
  </div>
  <img class="relative h-px w-[330px]" alt="" src="/images/19.svg" />

  <div
    class="text-border-color1 flex w-[270px] flex-col items-start justify-start gap-[10px]"
  >
    <div
      class="flex flex-row items-center justify-center self-stretch rounded px-5 py-3.5 [background:linear-gradient(270deg,_#0d574a,_#097b5d)]"
    >
      <div class="relative font-medium leading-[120%]">Показать</div>
    </div>
    <div
      class="border-color5 flex flex-row items-center justify-center self-stretch rounded border-[1px] border-solid px-5 py-3.5 text-black"
    >
      <div class="relative font-medium leading-[120%]">Сбросить</div>
    </div>
  </div>
</div>