<footer class="relative bg-black">
  <div
    class="mx-auto flex w-[360px] flex-col items-start justify-start gap-[30px] py-[50px] text-4xs text-white md:w-[1024px] lg:w-[1410px] lg:gap-[40px] lg:py-[60px] lg:text-3xs"
  >
    <div
      class="flex flex-col items-start justify-start gap-[20px] self-stretch text-xxs md:flex-row lg:justify-between lg:gap-[40px] lg:text-xs"
    >
      <div
        class="hidden flex-col items-start justify-start gap-[53px] max-lg:w-[415px] md:flex lg:flex-row lg:justify-between lg:gap-[140px]"
      >
        <div
          class="flex flex-row flex-wrap items-start justify-start gap-[20px] max-md:w-[502px] lg:flex-col lg:gap-[30px] lg:self-stretch"
        >
          <div class="relative font-medium leading-[100%]">
            <a href="#">О компании</a>
          </div>
          <div class="relative font-medium leading-[100%]">
            <a href="#">Портфолио</a>
          </div>
          <div class="relative font-medium leading-[100%]">
            <a href="#">Доставка и оплата</a>
          </div>
          <div class="relative font-medium leading-[100%]">
            <a href="#">Оформление заказа</a>
          </div>
          <div class="relative font-medium leading-[100%]">
            <a href="#">Контакты</a>
          </div>
        </div>
        <div
          class="flex flex-row flex-wrap items-start justify-start gap-[20px] self-stretch lg:flex-col lg:gap-[30px]"
        >
          <div class="relative font-medium leading-[100%]">
            <a href="#">Калькулятор воздуховодов</a>
          </div>
          <div class="relative font-medium leading-[100%]">
            <a href="#">Вентиляция</a>
          </div>
          <div class="relative font-medium leading-[100%]">
            <a href="#">Проектирование</a>
          </div>
          <div class="relative font-medium leading-[100%]">
            <a href="#">Кабельные системы</a>
          </div>
          <div class="relative font-medium leading-[100%]">
            <a href="#">Кондиционирование</a>
          </div>
          <div class="relative font-medium leading-[100%]">
            <a href="#">Дополнительные услуги</a>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col items-start justify-start gap-[30px] self-stretch md:justify-between md:gap-0"
      >
        <button class="button--filled-green w-full">
          <span> Заказать звонок </span>
        </button>
        <div
          class="flex flex-row items-center justify-start gap-[20px] self-stretch rounded text-4xs text-dark-gray md:flex-col md:items-start lg:text-3xs"
        >
          <div class="relative flex-1 leading-[140%]">
            <p class="m-0">
              Есть вопросы?<br />Задайте их в удобном<br />
              для вас мессенджере
            </p>
          </div>
          <div class="flex flex-row items-start justify-start gap-[10px]">
            <button class="h-[50px] w-[50px] bg-telegram"></button>

            <button class="h-[50px] w-[50px] bg-whatsapp"></button>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col items-start justify-start gap-[20px] text-sm md:flex-1 md:items-end lg:max-w-[330px] lg:gap-[30px] lg:text-lg"
      >
        <div
          class="flex flex-col items-start justify-start md:items-end md:gap-[15px]"
        >
          <div class="relative leading-[140%]">
            <p class="m-0">+7 8332 76-05-05</p>
          </div>
          <div class="relative text-4xs leading-[140%] lg:text-3xs">
            <p class="m-0">Мы работаем в будни с 08:30 до 17:30</p>
          </div>
        </div>
        <div
          class="flex flex-col items-start justify-start gap-[10px] self-stretch text-4xs text-dark-gray md:items-end md:gap-[20px] md:text-right lg:gap-[30px] lg:text-3xs"
        >
          <div class="relative self-stretch leading-[140%]">
            <p class="m-0">
              Политика в отношении обработки персональных данных
              в ООО «Элком групп»
            </p>
          </div>
          <div class="relative self-stretch leading-[140%]">
            <p class="m-0">
              Согласие на обработку персональных данных в ООО «Элком групп»
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="flex flex-col items-start justify-start gap-[30px] self-stretch text-dark-gray lg:gap-[40px]"
    >
      <div class="relative h-px self-stretch bg-white opacity-[0.1]"></div>
      <div
        class="flex w-full flex-col items-start justify-start gap-[20px] md:flex-row lg:!justify-between"
      >
        <span
          class="flex flex-col items-start justify-start gap-[5px] self-stretch"
        >
          <span class="relative leading-[140%]">Компания:</span>
          <span class="relative text-xxs leading-[140%] text-white lg:text-xs">
            ООО «Элком групп»
          </span>
        </span>
        <span class="flex flex-col items-start justify-start gap-[5px]">
          <span class="relative leading-[140%]">Адрес:</span>
          <span
            class="relative text-xxs leading-[140%] text-white md:hidden lg:text-xs"
          >
            610033, г. Киров,<br />
            Студенческий проезд 23
          </span>
          <span
            class="relative hidden text-xxs leading-[140%] text-white md:flex lg:text-xs"
          >
            610033, г. Киров, Студенческий проезд 23
          </span>
        </span>
        <span
          class="flex flex-col items-start justify-start gap-[5px] self-stretch"
        >
          <span class="relative leading-[140%]">ИНН:</span>
          <span class="relative text-xxs leading-[140%] text-white lg:text-xs">
            4345255582 КПП: 434501001
          </span>
        </span>
        <span
          class="flex flex-col items-start justify-start gap-[5px] self-stretch"
        >
          <span class="relative leading-[140%]">ОГРН:</span>
          <span class="relative text-xxs leading-[140%] text-white lg:text-xs">
            1094345006920
          </span>
        </span>
        <span
          class="flex flex-col items-start justify-start gap-[5px] self-stretch"
        >
          <span class="relative leading-[140%]">Эл. почта:</span>
          <span class="relative text-xxs leading-[140%] text-white lg:text-xs">
            info@smk-l.com
          </span>
        </span>
      </div>
      <div class="relative h-px self-stretch bg-white opacity-[0.1]"></div>
      <div class="relative self-stretch text-xxs leading-[140%] lg:text-xs">
        <p class="m-0">
          Внимание! Информация на сайте не является публичной офертой. Обращаем
          ваше внимание на то, что данный интернет-сайт носит исключительно
          информационный характер и ни при каких условиях не является публичной
          офертой, определяемой положениями ч. 2 ст. 437 Гражданского кодекса
          Российской Федерации. Для получения подробной информации о стоимости
          и сроках выполнения услуг, пожалуйста, обращайтесь к сотрудникам
          коммерческого отдела ООО «Элком групп».<br /><br />
          Запрещается скачивать материалы сайта для любых целей за исключением
          личных, а также запрещается публикация, передача,воспроизведение
          и любое иного использования материалов.
        </p>
      </div>
      <div class="relative h-px self-stretch bg-white opacity-[0.1]"></div>
    </div>
    <div
      class="flex w-full flex-col items-center justify-start gap-[20px] md:flex-row md:items-baseline md:justify-between"
    >
      <div class="relative font-medium leading-[120%]">
        © LCOMGROUP.RU 2023 Инженерные системы зданий
      </div>
      <div class="flex flex-row items-center justify-start gap-[20px]">
        <div class="relative font-medium leading-[120%]">
          Создание и продвижение:
        </div>
        <img
          class="relative h-[27px] w-[58px]"
          alt=""
          src="/images/family.svg"
        />
      </div>
    </div>
  </div>
</footer>