<div
  class="flex h-max w-full flex-col items-start justify-center gap-[20px] self-stretch {{#if dark}}bg-border-color{{else}}bg-light-bg{{/if}} p-[30px] text-4xs text-dark-gray md:min-w-[240px] md:w-[240px] lg:min-w-[330px] lg:w-[330px] lg:p-[40px] lg:text-3xs"
>
  <img class="relative h-6 w-6" alt="" src="/images/9.svg" />

  <div class="relative self-stretch leading-[140%]">
    <p>Заказать изделие нестандартных размеров можно по телефону или в мессенджере</p>
  </div>
  <div
    class="relative self-stretch text-sm font-semibold leading-[100%] text-black lg:text-base"
  >
    <p>+7 8332 76-05-05</p>
  </div>
  <div class="flex flex-row items-start justify-start gap-[10px]">
    <button class="h-[50px] w-[50px] bg-telegram"></button>

    <button class="h-[50px] w-[50px] bg-whatsapp"></button>
  </div>
</div>