<div
  class="fixed top-0 z-50 hidden h-screen w-screen overscroll-contain bg-black bg-opacity-20"
  id="popup"
>
  <div class="flex h-full items-center justify-center">
    <div
      class="font-base relative flex h-[1081px] w-[830px] flex-col items-start justify-start overflow-hidden rounded text-left text-xs text-black"
    >
      <img
        class="relative h-[343px] max-w-full shrink-0 self-stretch overflow-hidden object-cover"
        alt=""
        src="/images/0771872eaccdabd6c0eb516f326d545e.png"
      />

      <div
        class="flex flex-col items-start justify-start gap-[40px] self-stretch overflow-hidden bg-white p-[60px]"
      >
        <div class="relative self-stretch text-xl font-medium leading-[130%]">
          <p>Рабочий склада</p>
        </div>
        <div
          class="flex flex-col items-start justify-start gap-[20px] self-stretch"
        >
          <div
            class="relative self-stretch text-lg leading-[140%] text-dark-gray"
          >
            <p>Обязанности:</p>
          </div>
          <div
            class="flex flex-row items-start justify-start gap-[10px] self-stretch"
          >
            <img class="relative h-7 w-7" alt="" src="/images/frame-327.svg" />

            <div class="relative flex-1 leading-[140%]">
              <p>Комплектование заказов согласно заявкам;</p>
            </div>
          </div>
          <div
            class="flex flex-row items-start justify-start gap-[10px] self-stretch"
          >
            <img class="relative h-7 w-7" alt="" src="/images/frame-327.svg" />

            <div class="relative flex-1 leading-[140%]">
              <p>Работа в системе управления складом ( система WMS).</p>
            </div>
          </div>
        </div>
        <div
          class="flex flex-col items-start justify-start gap-[20px] self-stretch text-lg text-dark-gray"
        >
          <div class="relative self-stretch leading-[140%]"><p
            >Требования:</p></div>
          <div
            class="flex flex-row items-start justify-start gap-[10px] self-stretch text-xs text-black"
          >
            <img class="relative h-7 w-7" alt="" src="/images/frame-327.svg" />

            <div class="relative flex-1 leading-[140%]">
              <p>Ответственность, исполнительность, трудолюбие.</p>
            </div>
          </div>
        </div>
        <div
          class="flex flex-col items-start justify-start gap-[20px] self-stretch"
        >
          <div
            class="relative self-stretch text-lg leading-[140%] text-dark-gray"
          >
            <p>Условия:</p>
          </div>
          <div
            class="flex flex-row items-start justify-start gap-[10px] self-stretch"
          >
            <img class="relative h-7 w-7" alt="" src="/images/frame-327.svg" />

            <div class="relative flex-1 leading-[140%]">
              <p>Официальное оформление;</p>
            </div>
          </div>
          <div
            class="flex flex-row items-start justify-start gap-[10px] self-stretch"
          >
            <img class="relative h-7 w-7" alt="" src="/images/frame-327.svg" />

            <div class="relative flex-1 leading-[140%]">
              <p>полный социальный пакет;</p>
            </div>
          </div>
        </div>
        <div class="flex w-full flex-row gap-[20px]">
          <label
            class="flex w-full flex-1 flex-row items-center justify-start gap-[10px] rounded bg-light-gray px-[30px] py-5"
          >
            <img
              class="relative h-[18px] w-3"
              alt=""
              src="/images/XMLID_197_.svg"
            />
            <span class="relative flex-1 text-xs leading-[140%]">Прикрепить
              резюме</span>
            <input type="file" class="sr-only" />
          </label>
          <button class="button--filled-green" id="close-popup">
            <span>Заказать звонок</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>