<section
  class="relative mx-auto mb-[30px] flex max-w-[360px] text-xxl font-medium leading-[110%] text-black md:max-w-[1024px] md:text-3xl lg:mb-[40px] lg:max-w-[1410px] lg:text-5xl"
>
  <h1 class="w-full">{{title-text}}</h1>
</section>