<div
  class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"
>
  <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
  <span class="swiper-pagination-bullet"></span>
</div>