<section
  class="relative  box-border bg-light-bg {{#if no-margin}}m-0{{else}} mb-[80px] md:mb-[100px] lg:mb-[120px]{{/if}}"
>
  <div
    class="mx-auto flex max-w-[480px] flex-col items-start justify-center gap-[30px] px-[60px] py-[50px] md:max-w-[1366px] md:gap-[40px] md:px-[171px] lg:max-w-[1920px] lg:px-[255px] lg:py-[60px]"
  >
    <div class="flex flex-row items-end justify-start gap-[30px] self-stretch">
      <div class="flex flex-1 flex-col items-start justify-start gap-[20px]">
        <div
          class="relative w-[200px] self-stretch font-medium leading-[110%] md:w-full"
        >
          <h2 class="m-0">Наши партнёры</h2>
        </div>
      </div>
    </div>

    <div class="relative w-full h-full md:hidden mix-blend-multiply">
      <div
        class="swiper !ml-0 w-full !overflow-visible "
        id="partners"
      >
         <div class="swiper-wrapper">
          <div class="swiper-slide !h-auto !w-fit">
           <div class="flex items-center gap-[40px]">
             <img
              class="relative h-[53px] w-[53px] object-cover mix-blend-multiply"
              alt=""
              src="/images/partner1.png"
            />
         
            <img
              class="relative h-9 w-[75px] shrink-0 overflow-hidden mix-blend-multiply"
              alt=""
              src="/images/partner2.svg"
            />
         
            <img
              class="relative h-[34px] w-[125px]"
              alt=""
              src="/images/partner3.svg"
            />
           </div>
          </div>
          <div class="swiper-slide !h-auto !w-fit">
            <div class="flex items-center gap-[40px]">
              <img
                class="relative h-10 w-[63px]"
                alt=""
                src="/images/partner4.svg"
              />
              <img
                class="relative h-[30px] w-[117px] object-cover"
                alt=""
                src="/images/partner5.png"
              />
              <img
                class="relative h-[57px] w-8 object-cover mix-blend-multiply"
                alt=""
                src="/images/partner6.png"
              />
            </div>
          </div>
          <div class="swiper-slide !h-auto !w-fit">
            <div class="flex items-center gap-[40px]">
              <img
                class="relative h-[41px] w-[93px] object-cover mix-blend-multiply"
                alt=""
                src="/images/partner7.png"
              />
              <img
                class="relative h-[35px] w-12 object-cover mix-blend-multiply"
                alt=""
                src="/images/partner8.png"
              />
              <img
                class="relative h-5 w-[120px] object-cover mix-blend-multiply"
                alt=""
                src="/images/partner9.png"
              />
            </div>
          </div>
          <div class="swiper-slide !h-auto !w-fit">
            <div class="flex items-center gap-[40px]">
              <img
                class="relative h-10 w-12 object-cover mix-blend-multiply"
                alt=""
                src="/images/partner10.png"
              />
              <img
                class="relative h-[30px] w-[123px] object-cover mix-blend-multiply"
                alt=""
                src="/images/partner11.png"
              />
              <img
                class="relative h-[35px] w-[59px] object-cover mix-blend-multiply"
                alt=""
                src="/images/partner12.png"
              />
            </div>
          </div>
          <div class="swiper-slide !h-auto !w-fit">
           <div class="flex items-center gap-[40px]">
             <img
              class="relative h-[43px] w-[69px] object-cover mix-blend-multiply"
              alt=""
              src="/images/partner13.png"
            />
            <img
              class="relative h-[47px] w-[58px] object-cover mix-blend-multiply"
              alt=""
              src="/images/partner14.png"
            />
            <img
              class="relative h-[42px] w-16 object-cover mix-blend-multiply"
              alt=""
              src="/images/partner15.png"
            />
           </div>
          </div>
          <div class="swiper-slide !h-auto !w-fit">
            <div class="flex items-center gap-[40px]">
              <img
                class="relative h-[18px] w-[152px] object-cover mix-blend-multiply"
                alt=""
                src="/images/partner16.png"
              />
              <img
                class="relative h-[54px] w-12 object-cover mix-blend-multiply"
                alt=""
                src="/images/partner17.png"
              />
            </div>
          </div>
        </div>

        {{> pages}}
      </div>
    </div>

    <div
      class="hidden w-full flex-row items-center justify-start gap-[40px] md:flex md:flex-col md:gap-[40px]"
    >
      <div
        class="flex w-full flex-row items-center justify-start max-md:mr-[740px] max-md:gap-[40px] md:justify-between"
      >
        <img
          class="relative h-[53px] w-[53px] object-cover mix-blend-multiply"
          alt=""
          src="/images/partner1.png"
        />

        <img
          class="relative h-9 w-[75px] shrink-0 overflow-hidden"
          alt=""
          src="/images/partner2.svg"
        />

        <img
          class="relative h-[34px] w-[125px]"
          alt=""
          src="/images/partner3.svg"
        />

        <img class="relative h-10 w-[63px]" alt="" src="/images/partner4.svg" />

        <img
          class="relative h-[30px] w-[117px] object-cover"
          alt=""
          src="/images/partner5.png"
        />

        <img
          class="relative h-[57px] w-8 object-cover mix-blend-multiply"
          alt=""
          src="/images/partner6.png"
        />

        <img
          class="relative h-[41px] w-[93px] object-cover mix-blend-multiply"
          alt=""
          src="/images/partner7.png"
        />

        <img
          class="relative h-[35px] w-12 object-cover mix-blend-multiply"
          alt=""
          src="/images/partner8.png"
        />

        <img
          class="relative h-5 w-[120px] object-cover mix-blend-multiply"
          alt=""
          src="/images/partner9.png"
        />
      </div>

      <div
        class="flex w-full flex-row items-center justify-start max-md:gap-[40px] md:justify-between"
      >
        <img
          class="relative h-10 w-12 object-cover mix-blend-multiply"
          alt=""
          src="/images/partner10.png"
        />

        <img
          class="relative h-[30px] w-[123px] object-cover mix-blend-multiply"
          alt=""
          src="/images/partner11.png"
        />

        <img
          class="relative h-[35px] w-[59px] object-cover mix-blend-multiply"
          alt=""
          src="/images/partner12.png"
        />

        <img
          class="relative h-[43px] w-[69px] object-cover mix-blend-multiply"
          alt=""
          src="/images/partner13.png"
        />

        <img
          class="relative h-[47px] w-[58px] object-cover mix-blend-multiply"
          alt=""
          src="/images/partner14.png"
        />

        <img
          class="relative h-[42px] w-16 object-cover mix-blend-multiply"
          alt=""
          src="/images/partner15.png"
        />

        <img
          class="relative h-[18px] w-[152px] object-cover mix-blend-multiply"
          alt=""
          src="/images/partner16.png"
        />

        <img
          class="relative h-[54px] w-12 object-cover mix-blend-multiply"
          alt=""
          src="/images/partner17.png"
        />
      </div>
    </div>

  </div>
</section>