<div
  class="flex w-[300px] md:w-[241px] lg:w-[330px] h-full flex-col items-start justify-start gap-[20px] self-stretch overflow-hidden rounded bg-white p-[30px] text-sm text-dark-gray lg:p-[40px] lg:text-lg"
>
  <div class="relative h-10 w-10">
    <img 
      class="h-full w-full"
      alt="" 
      src={{#if icon}}{{icon}}{{else}}"/images/Frame-432.svg"{{/if}}
    />
  </div>
  <div
    class="flex flex-col items-start justify-start gap-[10px] self-stretch"
  >
    {{#if title}}
      <div class="relative self-stretch font-semibold leading-[100%]">
        {{title}}
      </div>
    {{/if}}
    <div class="relative flex self-stretch text-xxs leading-[140%] lg:text-xs">
      <p>{{description}}</p>
    </div>
  </div>
</div>