<div
  class="box-border flex w-[300px] flex-col items-start justify-start gap-[30px] overflow-hidden rounded bg-white p-[40px] shadow-base md:w-[328px] lg:w-[450px] lg:gap-[40px] lg:p-10"
>
  <div class="flex h-[140px] flex-col items-start justify-start self-stretch">
    <p
      class="relative line-clamp-5 self-stretch text-xxs leading-[140%] lg:text-xs"
    >
      {{text}}
    </p>
  </div>
  <div
    class="flex h-[106px] flex-col items-start justify-start gap-[20px] self-stretch"
  >
    <div class="relative self-stretch font-medium leading-[100%]">
      {{name}}
    </div>
    <div class="relative self-stretch text-4xs leading-[140%] text-dark-gray">
      <p>23 июня 2023</p>
    </div>
  </div>
  <button class="relative h-[30px] w-[30px] bg-review">
  </button>
</div>