<div class="range relative w-full">
  <div class="relative h-[4px] bg-border-color">
    <span
      class="range-selected absolute left-[0%] right-[19%] h-[100%] bg-green"
    ></span>
  </div>
  <div class="range-input">
    <input
      type="range"
      class="min [&::-webkit-slider-thumb]:bg-slider pointer-events-none absolute top-[-7px] z-[2] h-[20px] w-[100%] [&::-webkit-slider-thumb]:pointer-events-auto [&::-webkit-slider-thumb]:h-[20px] [&::-webkit-slider-thumb]:w-[20px] [&::-webkit-slider-thumb]:appearance-none"
      min="0"
      max="1000"
      value="0"
      step="10"
    />

    <input
      type="range"
      class="max [&::-webkit-slider-thumb]:bg-slider pointer-events-none absolute top-[-7px] z-[2] h-[20px] w-[100%] [&::-webkit-slider-thumb]:pointer-events-auto [&::-webkit-slider-thumb]:h-[20px] [&::-webkit-slider-thumb]:w-[20px] [&::-webkit-slider-thumb]:appearance-none"
      min="0"
      max="1000"
      value="818"
      step="10"
    />
  </div>
</div>