<div
  class="fixed top-0 z-50 hidden h-screen w-screen overscroll-contain bg-black bg-opacity-50"
  id="popup"
>
  <div class="flex h-full items-center justify-center">
    <div
      class="bg-color font-base relative box-border flex w-full flex-col items-start justify-start gap-[40px] overflow-hidden rounded p-[60px] text-left text-xl text-green shadow-[0px_10px_50px_rgba(0,_0,_0,_0.05)]"
    >
      <div
        class="text-7xl flex flex-col items-start justify-start gap-[10px] self-stretch"
      >
        <div class="relative self-stretch leading-[140%]">VRV Система</div>
        <div
          class="text-45xl flex flex-row items-end justify-start gap-[30px] self-stretch text-black"
        >
          <div
            class="flex flex-1 flex-col items-start justify-start gap-[20px]"
          >
            <div class="relative self-stretch font-medium leading-[110%]">
              Тепловой насос
            </div>
            <div
              class="text-7xl relative hidden self-stretch leading-[140%] text-dark-gray"
            >
              Системы кондиционирования VRV представлены тремя различными
              конфигурациями.
            </div>
          </div>
          <div class="hidden flex-row items-end justify-start gap-[10px]">
            <div class="relative h-[68px] w-[68px]">
              <div
                class="border-color2 absolute bottom-[0px] left-[0px] right-[0px] top-[0px] box-border h-full w-full rounded border-[1px] border-solid"
              ></div>
              <img
                class="absolute left-[calc(50%_-_4px)] top-[calc(50%_-_7px)] h-3.5 w-2"
                alt=""
                src="/images/union.svg"
              />
            </div>
            <div
              class="relative h-[68px] w-[68px] [transform-origin:0_0] [transform:_rotate(180deg)]"
            >
              <div
                class="border-color2 absolute bottom-[0px] left-[0px] right-[0px] top-[0px] box-border h-full w-full rounded border-[1px] border-solid"
              ></div>
              <img
                class="absolute left-[calc(50%_-_4px)] top-[calc(50%_-_7px)] h-3.5 w-2"
                alt=""
                src="/images/union2.svg"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="relative self-stretch leading-[140%] text-black">
        <p class="[margin-block-end:10px] [margin-block-start:0]">
          Это инверторная серия, которая поддерживает использование
          дополнительных модулей различных конфигураций (модели с 5 по 48).
          Такую систему кондиционирования можно настраивать в зависимости
          от сезона и температуры окружающей среды, изменяя параметры нагрева
          или охлаждения хладагента.
        </p>
        <p class="[margin-block-end:10px] [margin-block-start:0]">&nbsp;</p>
        <p class="m-0">
          Оборудование отлично подходит для использования вместо традиционных
          отопительных систем.
        </p>
      </div>
      <div
        class="flex flex-row items-center justify-center rounded px-[30px] py-6 text-white [background:linear-gradient(270deg,_#0d574a,_#097b5d)]"
      >
        <div class="relative font-medium leading-[100%]">Мне подходит</div>
      </div>
    </div>
  </div>
</div>