<div
  class="flex flex-row shadow-base items-center text-xxs justify-between leading-[140%] self-stretch rounded-lg {{#if head}}bg-light-gray{{else}}bg-white{{/if}} px-5 py-4 md:py-[20px] md:px-[40px] lg:text-xs"
>
   {{> @partial-block }}
  
</div>