<div
  class="{{class}}
  flex flex-row shadow-base items-start text-xxs justify-between leading-[140%] self-stretch rounded-lg {{#if head}}bg-light-gray{{else}}bg-white{{/if}} px-[20px] py-[16px] md:py-[16px] md:px-[30px] lg:py-[20px] lg:px-[40px] lg:text-xs"
>
   {{> @partial-block }}
  
</div>